a{
  color:white;
  text-decoration: none;
}
a:hover{
  color:yellow;
}
.linkspecial{
  color:white;
  font-size: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.main-wrapper{
  border: solid 1px;
  display: grid;
  grid-template-columns:repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(6 minmax (150px, auto));
  gap: 10px;
  background: grey;
  font-family: 'Open Sans', sans-serif;
}

.navigation{
  background-color: #871800;
  grid-column: 1/13;
}
.header-logo{
background-color: red;
grid-column: 1/13;
grid-row: 2/2;
text-align: center;
}
.photo-image{
background-color: black;
grid-column: 1/13;
grid-row: 3/3;
text-align: center;
color: white;
}

.article-1{
background-color: orange;
grid-column: 1/9;
grid-row: 4/4;
}

.aside-1{
  background-color: yellow;
  grid-column: 9/13;
  grid-row: 4/4;
  text-align: center;
}

.article-2{
background-color: orange;
grid-column: 5/13;
grid-row: 5/5;
}

.aside-2{
  background-color: yellow;
  grid-column: 1/5;
  grid-row: 5/5;
  text-align: center;
}

.footer{
background-color: #871800;
grid-column: 1/13;
grid-row: 6/6;
color: grey;
}
h1, h2, h3{
  font-family: 'Montserrat Subrayada';
}
h1{
  font-size: 2.5em;
  text-align: center;
  color: white;
}
@media only screen and (min-width: 300px){
  .main-wrapper{
    border: solid 1px;
    display: grid;
    grid-template-columns:repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(8 minmax (150px, auto));
    gap: 10px;
    background: white;
    font-family: 'Open Sans', sans-serif;
  }

  .navigation{
    background-color: #871800;
    grid-column: 1;
  }
  .header-logo{
  background-color: red;
  grid-column: 1;
  grid-row: 2/2;
  }
  .photo-image{
  background-color: grey;
  grid-column: 1;
  grid-row: 3/3;
  text-align: center;
  color: white;
  }

  .article-1{
  background-color: orange;
  grid-column: 1;
  grid-row: 4/4;
  }

  .aside-1{
    background-color: yellow;
    grid-column: 1;
    grid-row: 5/5;
    text-align: center;
  }

  .article-2{
  background-color: orange;
  grid-column: 1;
  grid-row: 6/6;
  }

  .aside-2{
    background-color: yellow;
    grid-column: 1;
    grid-row: 7/7;
    text-align: center;
  }

  .footer{
  background-color: #871800;
  grid-column: 1;
  grid-row: 8/8;
  color: grey;
  }
}
@media only screen and (min-width: 768px){
  .main-wrapper{
    border: solid 1px;
    display: grid;
    grid-template-columns:repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(6 minmax (150px, auto));
    gap: 10px;
    background: grey;
    font-family: 'Open Sans', sans-serif;
  }

  .navigation{
    background-color: #871800;
    grid-column: 1/13;
  }
  .header-logo{
  background-color: red;
  grid-column: 1/13;
  grid-row: 2/2;
  }
  .photo-image{
  background-color: black;
  grid-column: 1/13;
  grid-row: 3/3;
  text-align: center;
  color: white;
  }

  .article-1{
  background-color: orange;
  grid-column: 1/9;
  grid-row: 4/4;
  }

  .aside-1{
    background-color: yellow;
    grid-column: 9/13;
    grid-row: 4/4;
    text-align: center;
  }

  .article-2{
  background-color: orange;
  grid-column: 5/13;
  grid-row: 5/5;
  }

  .aside-2{
    background-color: yellow;
    grid-column: 1/5;
    grid-row: 5/5;
    text-align: center;
  }

  .footer{
  background-color: #871800;
  grid-column: 1/13;
  grid-row: 6/6;
  color: grey;
  }
}
@media only screen and (min-width: 1280px){
  .main-wrapper{
    border: solid 1px;
    display: grid;
    grid-template-columns:repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(6 minmax (150px, auto));
    gap: 10px;
    background: black;
    font-family: 'Open Sans', sans-serif;
  }

  .navigation{
    background-color: #871800;
    grid-column: 1/13;
  }
  .header-logo{
  background-color: red;
  grid-column: 1/13;
  grid-row: 2/2;
  }
  .photo-image{
  background-color: black;
  grid-column: 1/13;
  grid-row: 3/3;
  text-align: center;
  color: white;
  }

  .article-1{
  background-color: orange;
  grid-column: 1/9;
  grid-row: 4/4;
  }

  .aside-1{
    background-color: yellow;
    grid-column: 9/13;
    grid-row: 4/4;
    text-align: center;
  }

  .article-2{
  background-color: orange;
  grid-column: 5/13;
  grid-row: 5/5;
  }

  .aside-2{
    background-color: yellow;
    grid-column: 1/5;
    grid-row: 5/5;
  }

  .footer{
  background-color: #871800;
  grid-column: 1/13;
  grid-row: 6/6;
  color: grey;
  }
}
